body {
    font-size: xx-small;
}
header {
    height: 100vh;
    background-image: url(./img/stock_typing.png);
    background-size: cover;
    background-position: center center;
}
.mask {
    background-color: #556fcbd7;
}
.bg-purple {
    background-color: #556ecb;
}
.bg-grey {
    background-color: #f0f0f0;
}
.bg-grey2 {
    background-color: #fafbfc;
}
.bg-blue {
    background-color: #3eabf9 !important;
}
.bg-orange {
    background-color: #fd990f !important;
}
.text-blue {
    color: #3eabf9 !important;
}
.bold {
    font-weight: bold;
}
.nav-link {
    margin-right: 1rem;
}
.navbar-brand {
    font-weight: bold;
    font-style: italic;
}
.fit-content {
    width: fit-content;
}
.card {
    width: 18rem;
}
.font-xl {
    font-size: 4rem;
}
.font-l {
    font-size: 3rem;
}
.app-icon .bi::before {
    vertical-align: unset;
}
.card-title {
    font-weight: bold;
}
.card {
    width: 25%;
}
.w-20 {
    width: 20%;
    min-width: fit-content;
}
.review {
    width: 30%;
    background-color: #fefefe;
    border: thin solid lightgrey;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px grey;
}
#experience {
    background-image: url("./img/office.jpg");
    background-size: cover;
    background-position: center center;
}
#launch {
    background-image: url("./img/office2.jpg");
    background-size: cover;
    background-position: center bottom;
}
#clients-img {
    width: 100%;
    max-width: 70rem;
}
@media (max-width: 1200px) { 
    .card {
        width: 40%;
    }
}
@media (max-width: 768px) { 
    .card {
        width: 80%;
    }
}