header {
    height: 100vh;
    background-image: url(./img/stock_typing.png);
    background-size: cover;
    background-position: center center;
}
.bg-purple {
    background-color: #556ecb;
}
.nav-link {
    margin-right: 1rem;
}
.navbar-brand {
    font-weight: bold;
    font-style: italic;
}
.fit-content {
    width: fit-content;
}