body {
    font-size: xx-small;
}
header {
    height: 100vh;
    background-image: url(./img/stock_typing.png);
    background-size: cover;
    background-position: center center;
}
.mask {
    background-color: #556fcbd7;
}
.bg-purple {
    background-color: #556ecb;
}
.bg-grey {
    background-color: #f0f0f0;
}
.bg-blue {
    background-color: #3eabf9 !important;
}
.bg-orange {
    background-color: #fd990f !important;
}
.text-blue {
    color: #3eabf9 !important;
}
.bold {
    font-weight: bold;
}
.nav-link {
    margin-right: 1rem;
}
.navbar-brand {
    font-weight: bold;
    font-style: italic;
}
.fit-content {
    width: fit-content;
}
.card {
    width: 18rem;
}
.font-xl {
    font-size: 4rem;
}
.app-icon .bi::before {
    vertical-align: unset;
}
.card-title {
    font-weight: bold;
}
.card {
    width: 25%;
}
@media (max-width: 1200px) { 
    .card {
        width: 40%;
    }
}
@media (max-width: 768px) { 
    .card {
        width: 80%;
    }
}